<div class="t-wrapper">
   
    <!-- <table mat-table  [dataSource]="dataSource"  class="mat-elevation-z8">
 
        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef> Tags </th>
          <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
        </ng-container>
      
        <ng-container matColumnDef="volume">
          <th mat-header-cell *matHeaderCellDef> Volume </th>
          <td mat-cell *matCellDef="let element"> {{element.volume}}K </td>
        </ng-container>
      
        <ng-container matColumnDef="visibility">
          <th mat-header-cell *matHeaderCellDef> Visibility </th>
          <td mat-cell *matCellDef="let element"> {{element.visibility}}% </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> -->
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-3 me-3 mb-3 main-item">
                <div class="animated-background">
                    <div class="card-image">
                        <img  src="../../assets/images/mobile.png" alt="">
                    </div>
                    <hr>
                    <div class="p-3">
                        <h6 class="text-info">Realme 14 Pro Max</h6>
                        <p>
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <span style="font-size: 11px; color: #dddddd;"> (59)</span>
                        </p>
                        <div class="price"><h2 class="text-info">$75&nbsp;</h2> <span style="color: #dddddd;"><del>$150</del>&nbsp;  25%off</span></div>
                        <button class="add-cart text-info">Add To Cart </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 me-3 mb-3 main-item">
                <div class="animated-background">
                    <div class="card-image">
                        <img  src="../../assets/images/mobile.png" alt="">
                    </div>
                    <hr>
                    <div class="p-3">
                        <h6 class="text-info">Realme 14 Pro Max</h6>
                        <p>
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <span style="font-size: 11px; color: #dddddd;"> (59)</span>
                        </p>
                        <div class="price"><h2 class="text-info">$75&nbsp;</h2> <span style="color: #dddddd;"><del>$150</del>&nbsp;  25%off</span></div>
                        <button class="add-cart text-info">Add To Cart </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 me-3 mb-3 main-item">
                <div class="animated-background">
                    <div class="card-image">
                        <img  src="../../assets/images/mobile.png" alt="">
                    </div>
                    <hr>
                    <div class="p-3">
                        <h6 class="text-info">Realme 14 Pro Max</h6>
                        <p>
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <span style="font-size: 11px; color: #dddddd;"> (59)</span>
                        </p>
                        <div class="price"><h2 class="text-info">$75&nbsp;</h2> <span style="color: #dddddd;"><del>$150</del>&nbsp;  25%off</span></div>
                        <button class="add-cart text-info">Add To Cart </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 me-3 mb-3 main-item">
                <div class="animated-background card">
                    <div class="card-image">
                        <img  src="../../assets/images/mobile.png" alt="">
                    </div>
                    <hr>
                    <div class="p-3">
                        <h6 class="text-info">Realme 14 Pro Max</h6>
                        <p>
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <img class="ratings" src="../../assets/images/star.svg" alt="">
                            <span style="font-size: 11px; color: #dddddd;"> (59)</span>
                        </p>
                        <div class="price"><h2 class="text-info">$75&nbsp;</h2> <span style="color: #dddddd;"><del>$150</del>&nbsp;  25%off</span></div>
                        <button class="add-cart text-info">Add To Cart </button>
                    </div>
                </div>
            </div>
          
             
            
        </div>
    </div>
   
</div>
 